body {
    margin: 0;
    padding: 0;
}

#wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr) min-content;
    background-color: #000000;
}


@media only screen and (max-width: 600px) {
    #wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    #vinyl1, #vinyl2, #shirt, #cassette, #cassette2, #cassette3 {
        grid-column: auto;
        grid-row: auto;
        text-align: center;
    }
    .product-image img {
        display: none;
    }
}

/* ----------HEADER---------- */

#merchHeader {
    background-image: url(..//images/jacket.jpg);
    width: 100%;
    height: 513px;
    flex-shrink: 0;
    grid-column: 1 / span 6;
    margin-bottom: 50pt;
}

#merchTitle {
    text-align: center;
    color: #000000;
    font-family: futura;
    font-size: 100px;
    line-height: 2.5em;
    letter-spacing: -10px;
}

/* ----------NAVBAR---------- */

#headerNavBar {
    position: fixed;
    bottom: 30px;
    right: 28%;
    padding: 2%;
    width: 40%;
    border-radius: 63px;
    box-shadow: #8000FF 0px 0px 10px 3px;
    text-align: center;
    margin-right: auto;
    z-index: 3;
}

#headerNavBar > nav > ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#headerNavBar > nav > ul > li > a {
    font-family: Futura;
    color: black;
    text-decoration: none;
    font-size: 15pt;
    margin: auto;
    transition-duration: 0.4s;
}

#headerNavBar > nav > ul > li > a:hover {
    color: #FFFFFF;
    transition-duration: 0.4s;
}

.selected {
    background: #8000FF;
    padding: 16%;
    border-radius: 116px;
}

#headerNavList {
    margin: 0;
    padding: 0;
}

/* ----------null NAV---------- */

#nullHeaderNavBar {
    position: fixed;
    bottom: 30px;
    left: 28%;
    padding: 2%;
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 63px;
    text-align: center;
    margin-right: auto;
    z-index: 1;
}

#nullHeaderNavBar > nav > ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#nullHeaderNavBar > nav > ul > li > a {
    font-family: Futura;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15pt;
    margin: auto;
}

/* ----------NAV SELECTOR---------- */
#navSelector {
    background-color: #8000FF;
    padding: 2.25em;
    border-radius: 116px;
    position: fixed;
    bottom: 35px;
    width: 45px;
    transition: left 0.3
}

/* ----------FOOTER---------- */

#footer {
    grid-column: 1 / span 6; /* Span the full width of the grid */
    background-color: #000000;
}

/* ----------MERCH ITEMS---------- */

.product-image:hover {
    transform: scale(1.2);
}

.product-image {
    transition: transform 0.3s;
}

.product-image img {
    transition: transform 0.3s;
}

.product-image.hover img {
    transform: scale(1.1);
}

#vinyl1 {
    grid-column: 3/4;
    color: #ffffff;
    text-align: left;  
}
#vinylImage1 img {
    width: 200pt;
    height: auto;
    border-radius: 10pt;
    margin-right: 20pt;
    
}
#vinylImage1 {
    grid-column: 2/3;
}

#vinyl2 {
    grid-column: 4/5;
    grid-row: 3/4;
    color: #ffffff;
    text-align: right;
}
#vinylImage2 img {
    width: 200pt;
    height: auto;
    border-radius: 10pt;
    margin-left: 20pt;
}
#vinylImage2 {
    grid-column: 5/6;
    grid-row: 3/4;
}

#shirt {
    grid-column: 3/4;
    grid-row: 4/5;
    color: #ffffff;
    text-align: left;  
}
#shirtImage img {
    width: 200pt;
    height: auto;
    border-radius: 10pt;
    margin-right: 20pt;
}
#shirtImage {
    grid-column: 2/3;
    grid-row: 4/5
}

#cassette{
    grid-column: 4/5;
    grid-row: 5/6;
    color: #ffffff;
    text-align: right;
}
#cassetteimage img {
    width: 200pt;
    height: auto;
    border-radius: 10pt;
    margin-left: 20pt;
}
#cassetteimage {
    grid-column: 5/6;
    grid-row: 5/7;
}

#cassette2{
    grid-column: 3/4;
    grid-row: 7/8;
    color: #ffffff;
    text-align: left;
}
#cassetteimage2 img {
    width: 200pt;
    height: auto;
    border-radius: 10pt;
    margin-left: 20pt;
}
#cassetteimage2 {
    grid-column: 2/3;
    grid-row: 7/8;
}

#cassette3{
    grid-column: 4/5;
    grid-row: 9/10;
    color: #fff946;
    text-align: right;
}
#cassetteimage3 img {
    width: 200pt;
    height: auto;
    border-radius: 10pt;
    margin-left: 20pt;
}
#cassetteimage3 {
    grid-column: 5/6;
    grid-row: 9/10;
    margin-bottom: 130pt;
}

/* -----------SHOPPING CART------------- */

#cartAside {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10pt;
    padding: 20pt;
    margin-top: 20pt;
    margin-right: 20pt;
    margin-left: 20pt;
    margin-bottom: 80pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#AddToCartButton{
    background-color: #8000FF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button[id^="removeButton"] {
    background-color: #8000FF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 8pt;
    cursor: pointer;
}