:root {
    --move-up: 250;
    --move-down: -250;
}

body {
    margin: 0px;
    padding: 0px;
}

.triangle {
    position: relative;
    background: #2c3e5000;
    height: 10vh;
    margin-top: -100px;
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #8000FF transparent;
    left: 50%;
    transform: translateX(-50%);
  }

#musicHeader {
    background-image: url(..//images/Music\ Black\ White.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#musicHeader > h1 {
    font-size: 100pt;
    color: #FFFFFF;
    padding: 80px 20px 80px 20px;
    margin: 0px;
    font-family: futura, sans-serif;
    line-height: 90pt;
    mix-blend-mode: difference;
}

#newReleasesTitle {
    font-family: "bdr-mono", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 50pt;
    padding: 20px;
    text-align: center;
    grid-column: 1/4;
}

#recordShop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    background: linear-gradient(to bottom, #8000FF, #000000);
}

.recordShopImage {
    height: 250px;
    align-self: center;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.recordSpinner {
    height: 250px;
    transform: translateY(-250px);
    transition-duration: 0.3s;
    position: relative;
    z-index: 1;
}

.recordShopTitle {
    margin-top: -200px;
}

.recordHolder {
    text-align: center;
    color: #FFFFFF;
    font-family: futura, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 50px;
    background-color: #FFFFFF70;
    border: solid #FFFFFF80;
    padding: 20px;
    border-radius: 25px;
    transition-duration: 0.3s;
}

.recordHolder:hover {
    background-color: #FFFFFF80;
    transition-duration: 0.3s;
    transform: translateY(5px);
}


.listenNow {
    border-radius: 65px;
    padding: 20px;
    width: 12em;
    background-color: #8000FF;
    color: #FFFFFF;
    border: none;
    font-family: futura;
    font-size: 12pt;
    transition-duration: 0.3s;
}

.listenNow:hover {
    background-color: #FFFFFF;
    color: #8000FF;
    width: 15em;
    transition-duration: 0.3s;
    box-shadow: 5px 5px #8000FF;
}

#spotlight{
    background-image: url(..//images/Farmer\ Image\ by\ Vidar\ Nordli\ Mathisen.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    text-align: right;
    font-family: futura;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:baseline;
}

#spotlightTitle {
    font-size: 20pt;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 100px 0px 0px 100px;
    grid-column: 3/4;
}

#jasonTitle {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 50pt;
    grid-column: 3/4;
}

#jasonDescription {
    grid-column: 3/4;
    margin: 0px;
}

#listenJasonBtn {
    grid-column: 3/4;
    padding: 20px;
}

/* ----------NAVBAR---------- */

#headerNavBar {
    position:fixed;
    bottom: 30px;
    right: 28%;
    padding: 2%;
    width: 40%;
    border-radius: 63px;
    box-shadow: #8000FF 0px 0px 10px 3px;
    text-align: center;
    margin-right: auto;
    z-index: 5;
}

#headerNavBar > nav > ul{
    margin:0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#headerNavBar > nav > ul> li> a{
    font-family: Futura;
    color: black;
    text-decoration: none;
    font-size: 15pt;
    margin: auto;
    transition-duration: 0.4s;
}

#headerNavBar > nav > ul> li> a:hover{
    color: #FFFFFF;
    transition-duration: 0.4s;
}

.selected {
    background: #8000FF;
    padding: 16%;
    border-radius: 116px;
    
}

#headerNavList{
    margin: 0px;
    padding: 0px;
}

/* ----------null NAV---------- */

#nullHeaderNavBar {
    position:fixed;
    bottom: 30px;
    left: 28%;
    padding: 2%;
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 63px;
    text-align: center;
    margin-right: auto;
    z-index: 3;
}

#nullHeaderNavBar > nav > ul{
    margin:0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#nullHeaderNavBar > nav > ul> li> a{
    font-family: Futura;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15pt;
    margin: auto;
}

/* ----------NAV SELECTOR---------- */
#navSelector {
    background-color: #8000FF;
    align-self: center;
    padding: 2.5%;
    border-radius: 116px;
    position:fixed;
    bottom: 35px;
    width: 45px;
    transition: left 0.3s ease;
    z-index: 4;
}

/* -----------SHOPPING CART------------- */

#cartAside {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    background-color: #ffffff51;
    border-radius: 10pt;
    padding: 20pt;
    margin-top: 20pt;
    margin-right: 20pt;
    margin-left: 20pt;
    margin-bottom: 80pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

#cartAside:hover {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10pt;
    padding: 20pt;
    margin-top: 20pt;
    margin-right: 20pt;
    margin-left: 20pt;
    margin-bottom: 80pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

#AddToCartButton{
    background-color: #8000FF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 150px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#AddToCartButton:hover{
    background-color: #FFFFFF;
    color: #8000FF;
    transition-duration: 0.3s;
    padding: 10px 25px;
    box-shadow: 5px 5px #8000FF;
}

button[id^="removeButton"] {
    background-color: #8000FF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 8pt;
    cursor: pointer;
}

#numberCartItems {
    background-color: #8000FF;
    background-size: 10px;
    padding: 10px;
    color: #FFFFFF;
    display: inline;
    border-radius: 100px;
}

#cartItems {
    display: none;
}

#cart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px;
    z-index: 5;
}

#cartTitle {
    grid-column: 1/4;
    white-space: nowrap;
}
#numberCartItems {
    grid-column: 4/5;
    align-self: baseline;
    text-align: center;
}
#cartItems {
    grid-column: 1/2;
}
#cartTotal {
    grid-column: 1/5;
}

