/* ------------- IMAGES ------------- */
#aboutHeader {
    background-image: url(..//images/stage.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background: 1000px;
}

/* ------------- BODY ------------- */

body {
    padding: 0px;
    margin: 0px;
}