/* ------------- IMAGES ------------- */

#aboutHeaderImg {
    /* background-image: url(..//images/stage.jpg); */
    /* background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background: 1000px; */
    width: 100vw;
    max-height: 80vw;
}

/* ------------- BODY ------------- */

body {
    padding: 0px;
    margin: 0px;
    height: 200vh;
    background-color: black;
}

/* ------------- NAV ------------- */

#navBar {
    position:fixed;
    bottom: 30px;
    right: 20%;
    background-color: white;
    padding: 3%;
    width: 50%;
    border-radius: 63px;
    box-shadow: rgba(0, 0, 0, 0.162) 10px 10px 20px 3px;
}

#navBar > nav > ul{
    margin:0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

#navBar > nav > ul> li> a{
    font-family: Futura;
    color: black;
    text-decoration: none;
    font-size: 15pt;

}

/* -----------SHOPPING CART------------- */

#cartAside {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10pt;
    padding: 20pt;
    margin-top: 20pt;
    margin-right: 20pt;
    margin-left: 20pt;
    margin-bottom: 80pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#AddToCartButton{
    background-color: #8000FF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button[id^="removeButton"] {
    background-color: #8000FF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 8pt;
    cursor: pointer;
}
/* --- Cant get this to work, evenb when i added a css wrap --- */